# Analizar los catalogos


Comenzaremos por analizar lo scatalogos, posteriormente tomaremos la desicion de que columnas nos pueden ser utiles para concatenar.

# 2006

In [1]:
import os
import pandas as pd

# Definir la ruta del archivo
file_path = os.path.join('..', 'docs', 'ENSANUT-CATALOGOS', 'CATALOGOS ADOLESCENTES', 'ENSANUT-Adolescentes-Catálogo-2006.xlsx')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_excel(file_path, skiprows=16)


filtered_df_2006 = df[(df['Variable'] == 'ent') | (df['Variable'] == 'mun')| (df['Variable'] == 'sexo')
  | (df['Variable'] == 'edad')| (df['Variable'] == 'nac')| (df['Variable'] == 'd510')]

# Imprimir las filas filtradas
filtered_df_2006

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna
8,ent,9.0,entidad,Escala,8.0
9,mun,10.0,clave de municipio,Nominal,6.0
15,sexo,16.0,sexo,Nominal,8.0
16,edad,17.0,edad,Nominal,8.0
17,nac,18.0,fecha de nacimiento,Nominal,10.0
105,d510,106.0,"¿alguna vez a propósito te has herido, cortado...",Nominal,8.0

# 2012

In [2]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'docs', 'ENSANUT-CATALOGOS', 'CATALOGOS ADOLESCENTES', 'ENSANUT-Adolescentes-Catálogo-2012.xlsx')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_excel(file_path, skiprows=16)


filtered_df_2012 = df[(df['Variable'] == 'entidad') | (df['Variable'] == 'municipio')| (df['Variable'] == 'sexo')
  | (df['Variable'] == 'edad')| (df['Variable'] == 'dsexo')| (df['Variable'] == 'dedad')| (df['Variable'] == 'dedadns')
  | (df['Variable'] == 'd701')]

# Imprimir las filas filtradas
filtered_df_2012

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna
2,entidad,3.0,Entidad Federativa,Nominal,6.0
5,sexo,6.0,Sexo que proviene de hogar,Nominal,8.0
6,edad,7.0,Edad que proviene de hohar,Nominal,8.0
7,dsexo,8.0,¿Cuál es el sexo del(de la) entrevistado(a)?,Nominal,8.0
8,dedad,9.0,¿Cuántos años cumplidos tienes actualmente?,Nominal,8.0
9,dedadns,10.0,No sabe edad de individual Adolescente,Nominal,8.0
264,d701,265.0,"Alguna vez en la vida, ¿has intentado o a pro...",Nominal,8.0

# 2018

In [3]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'docs', 'ENSANUT-CATALOGOS', 'CATALOGOS ADOLESCENTES', 'ENSANUT-Adolescentes-Catálogo-2018.xlsx')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_excel(file_path, skiprows=16)


filtered_df_2018 = df[(df['Variable'] == 'NUMREN') | (df['Variable'] == 'P5_1_1')| (df['Variable'] == 'P5_1_2')
  | (df['Variable'] == 'P5_1_3')| (df['Variable'] == 'P5_1_4')| (df['Variable'] == 'P5_1_5')| (df['Variable'] == 'P5_1_6')
  | (df['Variable'] == 'P5_1_7')| (df['Variable'] == 'P7_16_1')| (df['Variable'] == 'P7_16_2')| (df['Variable'] == 'P7_17')]


# Imprimir las filas filtradas
filtered_df_2018

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna
3,NUMREN,4.0,Número de Renglón,Nominal,2.0
267,P5_1_1,268.0,Durante la última semana… ¿sentías como si no...,Escala,8.0
268,P5_1_2,269.0,Durante la última semana… ¿te costaba concentr...,Escala,8.0
269,P5_1_3,270.0,Durante la última semana… ¿te sentiste deprim...,Escala,8.0
270,P5_1_4,271.0,Durante la última semana… ¿te parecía que to...,Escala,8.0
271,P5_1_5,272.0,Durante la última semana… ¿no dormiste bien?,Escala,8.0
272,P5_1_6,273.0,Durante la última semana… ¿disfrutaste de la ...,Escala,8.0
273,P5_1_7,274.0,Durante la última semana… ¿te sentiste triste?,Escala,8.0
300,P7_16_1,301.0,¿Alguna vez has pensado en suicidarte?,Escala,8.0
301,P7_16_2,302.0,¿Con qué frecuencia lo has pensando?,Escala,8.0
302,P7_17,303.0,"¿Alguna vez a propósito te has herido, cortado...",Escala,8.0

# 2020

In [4]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'docs', 'ENSANUT-CATALOGOS', 'CATALOGOS ADOLESCENTES', 'ENSANUT-Adolescentes-Catálogo-2020.xlsx')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_excel(file_path, skiprows=16)


filtered_df_2020 = df[(df['Variable'] == 'ENTIDAD') | (df['Variable'] == 'DESC_ENT')| (df['Variable'] == 'MUN')
  | (df['Variable'] == 'DESC_MUN')| (df['Variable'] == 'FECHA_INI_1')| (df['Variable'] == 'FECHA_INI')
  | (df['Variable'] == 'H0302')| (df['Variable'] == 'H0303')| (df['Variable'] == 'H0304')
  | (df['Variable'] == 'AD0216')| (df['Variable'] == 'AD0216A')| (df['Variable'] == 'AD0217')]

# Imprimir las filas filtradas
filtered_df_2020

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna
7,ENTIDAD,8.0,Entidad,Nominal,9.0
8,DESC_ENT,9.0,DESC_ENT,Nominal,26.0
11,DESC_MUN,12.0,DESC_MUN,Nominal,32.0
13,FECHA_INI_1,14.0,Fecha de Inicio 1,Nominal,12.0
37,FECHA_INI,38.0,Fecha de inicio,Nominal,12.0
39,H0302,40.0,Sexo,Nominal,7.0
40,H0303,41.0,Edad,Escala,7.0
41,H0304,42.0,Fecha de Nacimiento,Escala,10.0
79,AD0216,80.0,AD0216 2.16 ¿Alguna vez has pensado en suicida...,Escala,6.0
80,AD0216A,81.0,AD0216a 2.16a ¿Con qué frecuencia lo has pensado?,Escala,7.0
81,AD0217,82.0,AD0217 2.17 ¿Alguna vez a propósito te has he...,Escala,6.0

# 2021

In [5]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'docs', 'ENSANUT-CATALOGOS', 'CATALOGOS ADOLESCENTES', 'ENSANUT-Adolescentes-Catálogo-2021.xlsx')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_excel(file_path, skiprows=16)

filtered_df_2021 = df[(df['Variable'] == 'fecha_ini_1') | (df['Variable'] == 'fecha_ini')| (df['Variable'] == 'region')
  | (df['Variable'] == 'entidad')| (df['Variable'] == 'desc_ent')| (df['Variable'] == 'municipio')
  | (df['Variable'] == 'desc_mun')| (df['Variable'] == 'edad')| (df['Variable'] == 'sexo')
  | (df['Variable'] == 'fech_nac')| (df['Variable'] == 'dsexo')| (df['Variable'] == 'dedad')
  | (df['Variable'] == 'd0421')| (df['Variable'] == 'd0422')| (df['Variable'] == 'd0601a')| (df['Variable'] == 'd0601b')
  | (df['Variable'] == 'd0601c')| (df['Variable'] == 'd0601d')| (df['Variable'] == 'd0601e')| (df['Variable'] == 'd0601f')
  | (df['Variable'] == 'd0601g')| (df['Variable'] == 'd0602')| (df['Variable'] == 'd0603')| (df['Variable'] == 'd0604')
  | (df['Variable'] == 'd0817')| (df['Variable'] == 'd0818')| (df['Variable'] == 'd0819')]

# Imprimir las filas filtradas
filtered_df_2021

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna
3,fecha_ini_1,4.0,Fecha de Inicio 1,Nominal,10.0
27,fecha_ini,28.0,Fecha de inicio,Nominal,10.0
28,region,29.0,Region o zona de trabajo,Escala,8.0
29,entidad,30.0,Entidad,Nominal,2.0
30,desc_ent,31.0,DESC_ENT,Nominal,32.0
31,municipio,32.0,Municipio,Nominal,3.0
32,desc_mun,33.0,DESC_MUN,Nominal,32.0
36,edad,37.0,Edad del Seleccionado,Escala,8.0
37,sexo,38.0,Sexo del Seleccionado,Escala,8.0
38,fech_nac,39.0,Fecha de Nacimiento,Nominal,8.0
39,dsexo,40.0,DSEXO ¿Cuál es el sexo de (NOMBRE) ?,Escala,8.0
40,dedad,41.0,DEDAD (NOMBRE) ¿Cuántos años cumplidos tienes ...,Escala,8.0
199,d0421,200.0,D0421 Me gustaría saber con qué frecuencia te ...,Escala,8.0
200,d0422,201.0,D0422 Me gustaría saber con qué frecuencia te ...,Escala,8.0
296,d0601a,297.0,D0601A Durante la última semana ¿Sentías como ...,Escala,8.0
297,d0601b,298.0,D0601B Durante la última semana ¿Te costaba co...,Escala,8.0
298,d0601c,299.0,D0601C Durante la última semana ¿Te sentiste d...,Escala,8.0
299,d0601d,300.0,D0601D Durante la última semana ¿Te parecía qu...,Escala,8.0
300,d0601e,301.0,D0601E Durante la última semana ¿No dormiste b...,Escala,8.0
301,d0601f,302.0,D0601F Durante la última semana ¿Disfrutaste d...,Escala,8.0
302,d0601g,303.0,D0601G Durante la última semana ¿Te sentiste t...,Escala,8.0
303,d0602,304.0,D0602 ¿Alguna vez te ha dicho un médico u otro...,Escala,8.0
304,d0603,305.0,D0603 ¿Te mandaron medicinas o algún otro tipo...,Escala,8.0
305,d0604,306.0,"D0604 Durante las últimas 2 semanas, ¿has toma...",Escala,8.0
377,d0817,378.0,D0817 ¿Alguna vez has pensado en suicidarte?,Escala,8.0
378,d0818,379.0,D0818 ¿Con qué frecuencia lo has pensado?,Escala,8.0
379,d0819,380.0,"D0819 ¿Alguna vez a propósito te has herido, c...",Escala,8.0

# 2022

In [6]:
#Definir la ruta del archivo
file_path = os.path.join('..', 'docs', 'ENSANUT-CATALOGOS', 'CATALOGOS ADOLESCENTES', 'ENSANUT-Adolescentes-Catálogo-2022.xlsx')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_excel(file_path, skiprows=16)


filtered_df_2022 = df[(df['Variable'] == 'fecha_ini_1') | (df['Variable'] == 'fecha_ini')| (df['Variable'] == 'region')
  | (df['Variable'] == 'entidad')| (df['Variable'] == 'desc_ent')| (df['Variable'] == 'municipio')
  | (df['Variable'] == 'desc_mun')| (df['Variable'] == 'edad')| (df['Variable'] == 'sexo')
  | (df['Variable'] == 'fech_nac')| (df['Variable'] == 'dsexo')| (df['Variable'] == 'dedad')
  | (df['Variable'] == 'd0421')| (df['Variable'] == 'd0422')| (df['Variable'] == 'd0601a')| (df['Variable'] == 'd0601b')
  | (df['Variable'] == 'd0601c')| (df['Variable'] == 'd0601d')| (df['Variable'] == 'd0601e')| (df['Variable'] == 'd0601f')
  | (df['Variable'] == 'd0601g')| (df['Variable'] == 'd0602') | (df['Variable'] == 'd0817')| (df['Variable'] == 'd0818')| (df['Variable'] == 'd0819')]

filtered_df_2022

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna
7,fecha_ini_1,8.0,Fecha de Inicio 1,Nominal,10.0
31,fecha_ini,32.0,Fecha de inicio,Nominal,10.0
32,entidad,33.0,Entidad,Nominal,2.0
33,desc_ent,34.0,DESC_ENT,Nominal,32.0
34,municipio,35.0,Municipio,Nominal,3.0
35,desc_mun,36.0,DESC_MUN,Nominal,32.0
37,edad,38.0,Edad del Seleccionado,Escala,8.0
38,sexo,39.0,Sexo del Seleccionado,Escala,8.0
39,fech_nac,40.0,Fecha de Nacimiento,Nominal,8.0
41,dsexo,42.0,DSEXO ¿Cuál es el sexo de (NOMBRE) ?,Escala,8.0
42,dedad,43.0,DEDAD (NOMBRE) ¿Cuántos años cumplidos tienes ...,Escala,8.0
197,d0421,198.0,D0421 Me gustaría saber con qué frecuencia te ...,Escala,8.0
198,d0422,199.0,D0422 Me gustaría saber con qué frecuencia te ...,Escala,8.0
268,d0601a,269.0,D0601A Durante la última semana ¿Sentías como ...,Escala,8.0
269,d0601b,270.0,D0601B Durante la última semana ¿Te costaba co...,Escala,8.0
270,d0601c,271.0,D0601C Durante la última semana ¿Te sentiste d...,Escala,8.0
271,d0601d,272.0,D0601D Durante la última semana ¿Te parecía qu...,Escala,8.0
272,d0601e,273.0,D0601E Durante la última semana ¿No dormiste b...,Escala,8.0
273,d0601f,274.0,D0601F Durante la última semana ¿Disfrutaste d...,Escala,8.0
274,d0601g,275.0,D0601G Durante la última semana ¿Te sentiste t...,Escala,8.0
275,d0602,276.0,D0602 ¿Alguna vez te ha dicho un médico u otro...,Escala,8.0
333,d0817,334.0,D0817 ¿Alguna vez has pensado en suicidarte?,Escala,8.0
334,d0818,335.0,D0818 ¿Con qué frecuencia lo has pensado?,Escala,8.0
335,d0819,336.0,"D0819 ¿Alguna vez a propósito te has herido, c...",Escala,8.0
374,region,375.0,Region o zona de trabajo,Escala,8.0

# 2023

In [7]:
#Definir la ruta del archivo
file_path = os.path.join('..', 'docs', 'ENSANUT-CATALOGOS', 'CATALOGOS ADOLESCENTES', 'ENSANUT-Adolescentes-Catálogo-2023.xlsx')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_excel(file_path, skiprows=16)


filtered_df_2023 = df[(df['Variable'] == 'fecha_ini_1') | (df['Variable'] == 'fecha_ini')
  | (df['Variable'] == 'entidad')| (df['Variable'] == 'desc_ent')| (df['Variable'] == 'municipio')
  | (df['Variable'] == 'desc_mun')| (df['Variable'] == 'edad')| (df['Variable'] == 'sexo')
  | (df['Variable'] == 'fech_nac')| (df['Variable'] == 'dsexo')| (df['Variable'] == 'dedad')
  | (df['Variable'] == 'd0421')| (df['Variable'] == 'd0422')| (df['Variable'] == 'd0601a')| (df['Variable'] == 'd0601b')
  | (df['Variable'] == 'd0601c')| (df['Variable'] == 'd0601d')| (df['Variable'] == 'd0601e')| (df['Variable'] == 'd0601f')
  | (df['Variable'] == 'd0601g')| (df['Variable'] == 'd0817')| (df['Variable'] == 'd0818')| (df['Variable'] == 'd0819')]

filtered_df_2023

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna
4,fecha_ini_1,5.0,Fecha de Inicio 1,Nominal,10.0
28,fecha_ini,29.0,Fecha de inicio,Nominal,10.0
29,entidad,30.0,Entidad,Nominal,2.0
30,desc_ent,31.0,DESC_ENT,Nominal,32.0
31,municipio,32.0,Municipio,Nominal,3.0
32,desc_mun,33.0,DESC_MUN,Nominal,32.0
33,edad,34.0,Edad del Seleccionado,Escala,8.0
34,sexo,35.0,Sexo del Seleccionado,Escala,8.0
35,fech_nac,36.0,Fecha de Nacimiento,Nominal,8.0
37,dsexo,38.0,DSEXO ¿Cuál es el sexo de (NOMBRE) ?,Escala,8.0
38,dedad,39.0,DEDAD (NOMBRE) ¿Cuántos años cumplidos tienes ...,Escala,8.0
284,d0421,285.0,D0421 Me gustaría saber con qué frecuencia te ...,Escala,8.0
285,d0422,286.0,D0422 Me gustaría saber con qué frecuencia te ...,Escala,8.0
361,d0601a,362.0,D0601A Durante la última semana ¿Sentías como ...,Escala,8.0
362,d0601b,363.0,D0601B Durante la última semana ¿Te costaba co...,Escala,8.0
363,d0601c,364.0,D0601C Durante la última semana ¿Te sentiste d...,Escala,8.0
364,d0601d,365.0,D0601D Durante la última semana ¿Te parecía qu...,Escala,8.0
365,d0601e,366.0,D0601E Durante la última semana ¿No dormiste b...,Escala,8.0
366,d0601f,367.0,D0601F Durante la última semana ¿Disfrutaste d...,Escala,8.0
367,d0601g,368.0,D0601G Durante la última semana ¿Te sentiste t...,Escala,8.0
424,d0817,425.0,D0817 ¿Alguna vez has pensado en suicidarte?,Escala,8.0
425,d0818,426.0,D0818 ¿Con qué frecuencia lo has pensado?,Escala,8.0
426,d0819,427.0,"D0819 ¿Alguna vez a propósito te has herido, c...",Escala,8.0

Vamos a visualizar nuestras columnas candidatas.

In [8]:

# Lista de DataFrames con sus respectivos nombres
dataframes = [('filtered_df_2006',filtered_df_2006),('filtered_df_2012',filtered_df_2012),('filtered_df_2018',filtered_df_2018),('filtered_df_2020',filtered_df_2020),('filtered_df_2021',filtered_df_2021),('filtered_df_2022',filtered_df_2022),('filtered_df_2023',filtered_df_2023)]

# Añadir una columna con el nombre del DataFrame
for name, df in dataframes:
    df.loc[:, 'source'] = name
    df.reset_index(drop=True, inplace=True)

# Concatenar los DataFrames
result = pd.concat([df for name, df in dataframes], ignore_index=True)

result

,Variable,Posición,Etiqueta,Nivel de medición,Ancho de columna,source
0,ent,9.0,entidad,Escala,8.0,filtered_df_2006
1,mun,10.0,clave de municipio,Nominal,6.0,filtered_df_2006
2,sexo,16.0,sexo,Nominal,8.0,filtered_df_2006
3,edad,17.0,edad,Nominal,8.0,filtered_df_2006
4,nac,18.0,fecha de nacimiento,Nominal,10.0,filtered_df_2006
...,...,...,...,...,...,...
105,d0601f,367.0,D0601F Durante la última semana ¿Disfrutaste d...,Escala,8.0,filtered_df_2023
106,d0601g,368.0,D0601G Durante la última semana ¿Te sentiste t...,Escala,8.0,filtered_df_2023
107,d0817,425.0,D0817 ¿Alguna vez has pensado en suicidarte?,Escala,8.0,filtered_df_2023
108,d0818,426.0,D0818 ¿Con qué frecuencia lo has pensado?,Escala,8.0,filtered_df_2023
109,d0819,427.0,"D0819 ¿Alguna vez a propósito te has herido, c...",Escala,8.0,filtered_df_2023

Ahora vamos filtrar los datos en base a estos dataframes.

#2006

In [9]:
import pandas as pd
import os

# Ruta del archivo
file_path = os.path.join('..', 'data', 'raw', 'DATOS ADOLESCENTES', 'ENSANUT-Adolescentes-Datos-2006.csv')

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv(file_path)
df['Fecha'] = pd.to_datetime('2006-07-01')
# Seleccionar las columnas que te interesan
filtered_df_2006 = df[['edad', 'sexo', 'ent','Fecha', 'd510']]
# Renombrar columnas específicas
filtered_df_2006 = filtered_df_2006.rename(columns={'edad': 'Edad', 'sexo': 'Sexo', 'ent':'Entidad', 'd510':'Atentar_contras_si'})

# Imprimir las filas filtradas
filtered_df_2006

C:\Users\DELL\AppData\Local\Temp\ipykernel_8504\546028999.py:8: DtypeWarning: Columns (11,18,71) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

       Edad  Sexo  Entidad      Fecha  Atentar_contras_si
0        11     1        1 2006-07-01                   3
1        18     2        1 2006-07-01                   3
2        17     2        1 2006-07-01                   3
3        10     1        1 2006-07-01                   3
4        14     2        1 2006-07-01                   3
...     ...   ...      ...        ...                 ...
25051    12     2       32 2006-07-01                   3
25052    16     1       32 2006-07-01                   3
25053    12     1       32 2006-07-01                   3
25054    11     1       32 2006-07-01                   3
25055    18     2       32 2006-07-01                   3

[25056 rows x 5 columns]

# 2012

In [10]:
import pandas as pd
import os

# Definir la ruta del archivo
file_path = os.path.join('..', 'data', 'raw','DATOS ADOLESCENTES', 'ENSANUT-Adolescentes-Datos-2012.csv')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_csv(file_path)
df.head()
df['Fecha'] = pd.to_datetime('2012-01-07')
# Seleccionar las columnas que te interesan
filtered_df_2012 = df[['edad','sexo','entidad','Fecha', 'd701']]

filtered_df_2012=filtered_df_2012.rename(columns={'entidad': 'Entidad', 'sexo': 'Sexo', 'edad': 'Edad', 'd701': 'Atentar_contras_si'})
# Imprimir las filas filtradas
filtered_df_2012

       Edad  Sexo  Entidad      Fecha  Atentar_contras_si
0        19     1        1 2012-01-07                   3
1        14     1        1 2012-01-07                   3
2        11     1        1 2012-01-07                   3
3        12     2        1 2012-01-07                   3
4        11     2        1 2012-01-07                   3
...     ...   ...      ...        ...                 ...
21504    12     2       32 2012-01-07                   3
21505    19     1       32 2012-01-07                   3
21506    11     1       32 2012-01-07                   3
21507    18     1       32 2012-01-07                   3
21508    10     2       32 2012-01-07                   3

[21509 rows x 5 columns]

# 2018

In [11]:

# Definir la ruta del archivo
file_path = os.path.join('..', 'data', 'raw','DATOS ADOLESCENTES', 'ENSANUT-Adolescentes-Datos-2018.csv')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_csv(file_path, sep=';')
# Seleccionar las columnas que te interesan
filtered_df_2018 = df[['EDAD','SEXO', 'ENT', 'FECHA_ENTREVISTA','P7_17','P5_1_3','P5_1_7']]
filtered_df_2018 = filtered_df_2018.rename(columns={'EDAD': 'Edad', 'SEXO': 'Sexo', 'ENT': 'Entidad', 'P7_17': 'Atentar_contras_si', 'P5_1_3': 'Depresion', 'P5_1_7': 'Tristeza', 'FECHA_ENTREVISTA': 'Fecha'})

filtered_df_2018['Fecha'] = pd.to_datetime('2018-07-01')
# Imprimir el DataFrame con las fechas convertidas
filtered_df_2018

       Edad  Sexo  Entidad      Fecha  Atentar_contras_si  Depresion  Tristeza
0        11     2        1 2018-07-01                   3          1         1
1        12     2        1 2018-07-01                   3          1         1
2        19     1        1 2018-07-01                   3          1         1
3        15     1        1 2018-07-01                   3          1         1
4        11     1        1 2018-07-01                   3          1         1
...     ...   ...      ...        ...                 ...        ...       ...
17920    15     1       32 2018-07-01                   3          1         1
17921    11     1       32 2018-07-01                   3          1         1
17922    14     2       32 2018-07-01                   3          1         1
17923    19     1       32 2018-07-01                   3          1         1
17924    18     1       32 2018-07-01                   3          1         1

[17925 rows x 7 columns]

# 2020

In [12]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'data', 'raw','DATOS ADOLESCENTES', 'ENSANUT-Adolescentes-Datos-2020.csv')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_csv(file_path, sep=';')
# df.head()
# Seleccionar las columnas que te interesan
filtered_df_2020 = df[['H0303','H0302', 'ENTIDAD','FECHA_INI','AD0217']]
filtered_df_2020 = filtered_df_2020.rename(columns={'ENTIDAD': 'Entidad', 'FECHA_INI': 'Fecha', 'AD0217': 'Atentar_contras_si', 'H0302':'Sexo', 'H0303':'Edad'})
# Imprimir las filas filtradas
filtered_df_2020

      Edad  Sexo  Entidad       Fecha  Atentar_contras_si
0       18     2        1  13/10/2020                   3
1       16     1        1  12/10/2020                   3
2       17     1        1  14/10/2020                   3
3       12     2        1  14/10/2020                   3
4       16     1        1  14/10/2020                   3
...    ...   ...      ...         ...                 ...
2196    18     1       32  23/10/2020                   3
2197    13     1       32  23/10/2020                   3
2198    14     1       32  23/10/2020                   3
2199    16     1       32  24/10/2020                   3
2200    18     1       32  23/10/2020                   1

[2201 rows x 5 columns]

# 2021

In [13]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'data', 'raw','DATOS ADOLESCENTES', 'ENSANUT-Adolescentes-Datos-2021.csv')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_csv(file_path, sep=';')
# df.head()
# Seleccionar las columnas que te interesan
filtered_df_2021 = df[['edad', 'sexo', 'entidad','fecha_ini','d0819', 'd0601c','d0601g']]
filtered_df_2021 = filtered_df_2021.rename(columns={'edad': 'Edad', 'sexo': 'Sexo', 'entidad': 'Entidad', 'fecha_ini': 'Fecha', 'd0819': 'Atentar_contras_si', 'd0601c': 'Depresion', 'd0601g': 'Tristeza'})

# Imprimir las filas filtradas
filtered_df_2021

C:\Users\DELL\AppData\Local\Temp\ipykernel_8504\162809069.py:5: DtypeWarning: Columns (35,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=';')

      Edad  Sexo  Entidad       Fecha  Atentar_contras_si  Depresion  Tristeza
0       19     1        1  07/10/2021                   3          1         1
1       12     1        1  09/10/2021                   3          1         2
2       17     1        1  07/10/2021                   3          1         1
3       15     1        1  08/10/2021                   3          1         2
4       15     2        1  08/10/2021                   3          2         2
...    ...   ...      ...         ...                 ...        ...       ...
4147    18     2       32  24/09/2021                   3          1         1
4148    13     2       32  24/09/2021                   3          1         1
4149    17     2       32  24/09/2021                   3          1         1
4150    13     2       32  24/09/2021                   3          1         1
4151    18     1       32  26/09/2021                   3          1         1

[4152 rows x 7 columns]


# 2022

In [14]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'data', 'raw','DATOS ADOLESCENTES', 'ENSANUT-Adolescentes-Datos-2022.csv')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_csv(file_path, sep=';')
# df.head()
# Seleccionar las columnas que te interesan
filtered_df_2022 = df[['edad','sexo','entidad', 'fecha_ini', 'd0819', 'd0601c','d0601g']]
filtered_df_2022= filtered_df_2022.rename(columns={'edad': 'Edad', 'sexo': 'Sexo', 'entidad': 'Entidad', 'fecha_ini': 'Fecha', 'd0819': 'Atentar_contras_si', 'd0601c': 'Depresion', 'd0601g': 'Tristeza'})

# Imprimir las filas filtradas
filtered_df_2022

      Edad  Sexo  Entidad       Fecha  Atentar_contras_si  Depresion  Tristeza
0       14     2        1  14/10/2022                   3          2         1
1       10     2        1  14/10/2022                   3          1         1
2       15     2        1  16/10/2022                   3          2         2
3       18     1        1  15/10/2022                   3          2         2
4       16     2        1  14/10/2022                   3          1         3
...    ...   ...      ...         ...                 ...        ...       ...
3542    19     1       32  19/10/2022                   3          1         1
3543    15     1       32  19/10/2022                   3          1         1
3544    18     1       32  20/10/2022                   3          2         1
3545    15     1       32  11/10/2022                   3          1         1
3546    19     2       32  12/10/2022                   3          1         2

[3547 rows x 7 columns]

# 2023

In [15]:
# Definir la ruta del archivo
file_path = os.path.join('..', 'data', 'raw','DATOS ADOLESCENTES', 'ENSANUT-Adolescentes-Datos-2023.csv')

# Cargar el archivo Excel en un DataFrame, omitiendo las primeras 16 filas
df = pd.read_csv(file_path, sep=';')
# df.head()
# Seleccionar las columnas que te interesan
filtered_df_2023 = df[['edad','sexo','entidad', 'fecha_ini', 'd0819','d0601c','d0601g']]
filtered_df_2023 = filtered_df_2023.rename(columns={'edad': 'Edad', 'sexo': 'Sexo', 'entidad': 'Entidad', 'fecha_ini': 'Fecha', 'd0819': 'Atentar_contras_si', 'd0601c': 'Depresion', 'd0601g': 'Tristeza'})
# Imprimir las filas filtradas
filtered_df_2023

      Edad  Sexo  Entidad       Fecha  Atentar_contras_si  Depresion  Tristeza
0       17     1        1  21/11/2023                   3          2         3
1       15     1        1  22/11/2023                   3          2         2
2       16     1        1  22/11/2023                   3          1         1
3       15     1        1  21/11/2023                   3          3         1
4       19     1        1  21/11/2023                   3          2         3
...    ...   ...      ...         ...                 ...        ...       ...
1919    19     2       31  01/11/2023                   3          1         1
1920    16     1       31  01/11/2023                   3          1         1
1921    17     1       32  22/11/2023                   3          1         1
1922    14     1       32  22/11/2023                   3          1         1
1923    17     1       32  22/11/2023                   3          1         1

[1924 rows x 7 columns]

Una vez llamadas correctamente las columnas y seleccionados los datos, podemos concatenar los dataframes y obtener uno solo.

In [16]:
# Lista de DataFrames
dataframes = [filtered_df_2006, filtered_df_2012, filtered_df_2018, filtered_df_2020, filtered_df_2021, filtered_df_2022,filtered_df_2023]  # Reemplaza con los nombres de tus DataFrames

# Concatenar los DataFrames hacia abajo
df_concatenado = pd.concat(dataframes, axis=0, ignore_index=True)

Veamos cuantos datos perdidos tenemos:

In [17]:
df_concatenado.isna().sum()

Edad                      0
Sexo                      0
Entidad                   0
Fecha                     0
Atentar_contras_si        0
Depresion             48766
Tristeza              48766
dtype: int64

Como podemos ver hay muchos datos faltantes en muchos datos en las ultimas columnas, esto se debe a que las encuestas anteirores al 2021 no trataban la depresion ni el sentimiento de tristeza como parte del cuestionario.


Sustituimos los datos faltantes con $0$, y convertimos nuestras columnas a un tipo de dato correcto.

In [18]:
df_concatenado[['Depresion','Tristeza']] = df_concatenado[['Depresion','Tristeza']].fillna(0)


# Convertir una columna específica a categoría
df_concatenado['Sexo'] = df_concatenado['Sexo'].astype('category')
df_concatenado['Entidad'] = df_concatenado['Entidad'].astype('category')
df_concatenado['Atentar_contras_si'] = df_concatenado['Atentar_contras_si'].astype('category')
df_concatenado['Depresion'] = df_concatenado['Depresion'].astype('int').astype('category')
df_concatenado['Tristeza'] = df_concatenado['Tristeza'].astype('int').astype('category')
df_concatenado['Fecha'] = pd.to_datetime(df_concatenado['Fecha'])

Comprobamos

In [19]:
# Verificar tipos de datos de todas las columnas
print(df_concatenado.dtypes)

Edad                           int64
Sexo                        category
Entidad                     category
Fecha                 datetime64[ns]
Atentar_contras_si          category
Depresion                   category
Tristeza                    category
dtype: object

Visualizamos nuestro primer dataframe.

In [20]:
df_concatenado

       Edad Sexo Entidad      Fecha Atentar_contras_si Depresion Tristeza
0        11    1       1 2006-07-01                  3         0        0
1        18    2       1 2006-07-01                  3         0        0
2        17    2       1 2006-07-01                  3         0        0
3        10    1       1 2006-07-01                  3         0        0
4        14    2       1 2006-07-01                  3         0        0
...     ...  ...     ...        ...                ...       ...      ...
76309    19    2      31 2023-01-11                  3         1        1
76310    16    1      31 2023-01-11                  3         1        1
76311    17    1      32 2023-11-22                  3         1        1
76312    14    1      32 2023-11-22                  3         1        1
76313    17    1      32 2023-11-22                  3         1        1

[76314 rows x 7 columns]

Por ultimo guardamos el dataframe en formato .csv en

In [21]:
# ruta donde guardar el CSV
file_path = os.path.join('..', 'data', 'interim', 'Adolescentes.csv')

# Guarda el DataFrame en formato CSV
df_concatenado.to_csv(file_path, index=False)  # index=False evita que se guarde el índice del DataFrame